.navbar .nav-link {
  color: white;
}
.navbar a:hover {
  color: lightgray;
}
.myFooter {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}
.formContainer{
  margin:15px;
  padding: 10px;
}
.containerStudent{
  display: flex; 
  flex-direction: column;
  margin:20px;
  padding:7px;
  border: 1px solid lightgray;
}
.title{
  margin:15px;
  padding: 10px;
}